<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - pyshortly</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
